<div class="row">
  <div class="col-md-6">
    <h2><i class="fa fa-users"></i> Employees</h2>
  </div>
  <div class="col-md-6">
    <h2><i class="fa fa-question-circle"></i> Testers</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="card mb-3">
      <div class="card-header">
        Add Employee
      </div>
      <div class="card-body">
        <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
          <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                name="name"
                #cartErrors="ngModel"
                [(ngModel)]="employee.name"
                required
              >
            </div>
          <input type="submit" value="Add" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.name }}</td>
          <td class="text-right"><i class="fa fa-trash" (click)="deleteEmployee(employee)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3">
    <div class="card mb-3">
      <div class="card-header">
        Add Tester
      </div>
      <div class="card-body">
        <form #testerForm="ngForm" (ngSubmit)="addTester(testerForm)">
          <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                class="form-control"
                name="name"
                #cartErrors="ngModel"
                [(ngModel)]="tester.name"
                required
              >
            </div>
          <input type="submit" value="Add" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tester of testers">
          <td>{{ tester.name }}</td>
          <td><i class="fa fa-check" (click)="hireTester(tester)"></i></td>
          <td class="text-right"><i class="fa fa-close" (click)="deleteTester(tester)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
